<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="BluMiga Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../core/</directory>
            <directory>../app/</directory>
            <directory>../libs/</directory>
        </include>
    </source>
</phpunit>
